
 @media only screen and (max-width:600px) {
     .validation {
         /* display: block !important; */
         margin-left:35% !important;
         margin-bottom:5%!important;
         font-size: 15px !important;
     }
        p.validate{
        font-size: 29px!important;
        color: white!important;
        margin-top: 15px!important;
        font-weight: 700!important;
        padding:10px !important;
        margin-left: 30%!important;
     }
 }

 @media only screen and (max-width:765px) {
     .btn-connect {
         font-size: 15px !important;
         color: white!important;
     }
     .btn-debate {
         font-size: 15px !important;
         color: white!important;
     }
     h3.target {
         font-size: 10px!important;
         color: grey!important;
         text-align: center!important;
         padding-left: 40px!important;
     }
      
     .ui-block.Media{
         margin-left:40px!important;


     }
     .ui-block.agenda
     {
         margin-left:16%!important;
     }
     .ui-block.Campaign{
         margin-left:5%!important;
     }
     .statusbar
     {
         display:flex!important;
         margin-left:10px!important;
         padding-left:30px!important;
     }

     .text-sm h4 {
         text-align:left !important;
         font-size:10px!important;
         margin-right:5px!important;
         padding-right:30px!important;
     }

     .text-sm span {
         /* text-align: !important; */
         font-size:5px!important;
         margin-right:10%!important;

     }
     h4.valid-status{
         text-align:left !important;
         font-size:20px!important;
         margin-left:10px!important;
         padding-left:30px!important;

     }
     svg.olymp-chat---messages-icon{
         margin-top:-52px!important;
     }
     .bg-purple
     {
          margin-top:-37px!important;
     }
    
     article.hentry{
         margin-left:60px!important;
     }
     .Campagin-Title{
     margin-left:60px!important;

     }
    .posterw
    {
        border:none!important;
    }
   .ui-1{
       margin-left:60px!important;
       /* padding-Left:40px!important */
   }
   .Media12{
       margin-left:60px!important;
   }
 }
